@model TwitterClone_MVC_WebAPI.Models.TwitterModal

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js">
  </script>
  <style>

    input[type="text"] {
      width: 80%;
      border: 2px solid #aaa;
      border-radius: 4px;
      margin: 8px 0;
      outline: none;
      padding: 8px;
      box-sizing: border-box;
      transition: 0.3s;
    }

      input[type="text"]:focus {
        border-color: dodgerBlue;
        box-shadow: 0 0 8px 0 dodgerBlue;
      }

    .inputWithIcon input[type="text"] {
      padding-left: 40px;
    }

    .inputWithIcon {
      position: relative;
    }

      .inputWithIcon i {
        position: absolute;
        left: 0;
        top: 8px;
        padding: 9px 8px;
        color: #aaa;
        transition: 0.3s;
      }

      .inputWithIcon input[type="text"]:focus + i {
        color: dodgerBlue;
      }

      .inputWithIcon.inputIconBg i {
        background-color: #aaa;
        color: #fff;
        padding: 9px 4px;
        border-radius: 4px 0 0 4px;
      }

      .inputWithIcon.inputIconBg input[type="text"]:focus + i {
        color: #fff;
        background-color: dodgerBlue;
      }
  </style>
</head>

<section>
  <nav>
    <h2></h2>
    @*<div class="right-inner-addon">
        <i class="glyphicon-search"></i>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Search" })
      </div>*@

    <div class="inputWithIcon">
      <div class="">
        <input id="SearchBox" type="text"  placeholder="Your name">
        <button class="glyphicon-search right" style="margin-left:auto" ALIGN='right' id="btnSearch"  value=""></button>
      </div><i class="fa fa-user fa-lg fa-fw " aria-hidden="true">

      </i>



    </div>
    <div class="row" style="padding-top:20px; width:100%;">
      <div class="col-md-4">
        <ul>
          <li>
            <span id="follow">Follow (<a href="#">@Model._follower.Count()</a>)</span>
          </li>
          <li>
            <span id="following">Following (<a href="#">@Model._following.Count()</a>)</span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <article>
    <h2 class="text-right">
      Welcome @Html.Display("_person.fullname"),
    </h2>

    @using (Html.BeginForm("AddTweet", "Twitter"))
    {
      @Html.AntiForgeryToken()
      <div class="row">
        What are you doing ?
      </div>
      <div class="row">
        <div class="col-sm-5  ">

          @Html.TextAreaFor(m => m._myTweet.message, new { @class = "form-control", id = "tweetId" })


        </div>
        <div class="col-sm-5 bottom left">
          <input class="btn btn-primary form-control" id="btnUpdate" type="submit" value="Update" />

        </div>
      </div>

      <div id="userListDiv" style="display:none">
        <h4 id="userListHeader"></h4>
        <table id="userListTable">
          <thead>
            <tr>
              <th style="width:20%;">User Name</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    }

    <div class="float">
      @{Html.RenderAction("GetTweetMessages", "Twitter", new { userId = Model._person.user_id });}
    </div>
  </article>
</section>
 
<script type="text/javascript">
   
    $('#btnSearch').click(function (event) {

      event.preventDefault();
      var name = $('#SearchBox').val();
      alert(name);
      $.ajax({
        type: "GET",
        url: "/Twitter/SearchUsersByName?name=" + name,
         success: function (data) {
         
         alert('sucess')
       
        },
        error: function (e) {

        }
      });

    });
 

  //$(function () {
  
  //  $('#btnSearch').click(function (event) {

  //    event.preventDefault();
  //    var name = $('#SearchBox').val();
  //    alert(name);
  //    $.ajax({
  //      type: "GET",
  //      url: "/Twitter/SearchUsersByName?name=" + name
  //    });
  //  });

  //  //$('#btnUpdate').click(function (event) {
  //  //  debugger;
  //  //  alert("hi");
  //  //  event.preventDefault();
  //  //  var message = $('#tweetId').val();

  //  //  $.ajax({
  //  //    type: "POST",
  //  //    url: "/Twitter/AddTweet?message=" + message
  //  //  });
  //  //});
  //});
</script>
